body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header,
footer {
	background-color: #2f3d7e;
	text-align: center;
	color: white;
}

#container {
	height: 100%;
	display: grid;
	grid-template-columns: 3fr 1fr;
	padding: 20px 20px;
	row-gap: 30px;
    column-gap: 30px;
	grid-template-rows: 200px;
}

.bookDiv {
	background-color: #faeaeb;
	border: #2f3d7e solid 2px;
	border-radius: 1.5rem;
	padding: 5px 20px;
    height: 200px;
    box-shadow: 5px 5px 5px #2f3d7e;
    align-self: start;
    display: grid;
    gap: 10px;
    justify-content: start;
}
h3, h5,p {
    margin: 0;
}
#read, #notRead {
    align-self: end;
    justify-self: end;
    border-radius: 1rem;
    text-align: center;
    width: 4.5rem;
}

#read {
    background-color: 	rgba(0,255,127,0.7);
}

#notRead {
    background-color: rgba(240,128,128,0.7);
}

#addDelete {
    grid-column: -2/-1;
    grid-row: 1/-1;
}

#addBook {
    border-radius: 1rem;
    width: 6rem;
    background-color: #2f3d7e;
    color: white;
    height: 1.6rem;
    border: none;
    box-shadow: 5px 5px 5px #faeaeb;
}

@media screen and (min-width: 950px) {
    #container {
        grid-template-columns: 2fr 2fr 2fr 1fr;
    }
}